[user]
	name = John Weachock
	email = jweachock@gmail.com

[core]
	pager = ~/dots/gitpager.sh

[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
	pager = false

[color "branch"]
	current = green bold
	local = green bold
	remote = yellow bold

[color "diff"]
	plain = white
	meta = cyan bold
	frag = yellow bold
	old = red
	new = green
	commit = cyan

[color "status"]
	added = blue bold
	changed = green bold
	untracked = green bold

[diff]
	#external = /usr/bin/colordiff

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	cl = clone
	df = diff
	lg = log --oneline --graph
