[submodule "vim/bundle/css"]
	path = vim/bundle/css
	url = https://github.com/JulesWang/css.vim
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = https://github.com/othree/html5.vim
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/jinja"]
	path = vim/bundle/jinja
	url = https://github.com/mitsuhiko/vim-jinja
[submodule "vim/bundle/python-combined"]
	path = vim/bundle/python-combined
	url = https://github.com/mitsuhiko/vim-python-combined
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundle/signature"]
	path = vim/bundle/signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "vim/bundle/minimap"]
	path = vim/bundle/minimap
	url = https://github.com/naddeoa/vim-visual-page-percent.git
[submodule "vim/bundle/glsl"]
	path = vim/bundle/glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/bundle/youcompleteme"]
	path = vim/bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/rust"]
	path = vim/bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/bundle/pico8"]
	path = vim/bundle/pico8
	url = https://github.com/justinj/vim-pico8-syntax
[submodule "vim/bundle/skim"]
	path = vim/bundle/skim
	url = https://github.com/lotabout/skim.vim
[submodule "vim/bundle/toml"]
	path = vim/bundle/toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim/bundle/terraform"]
	path = vim/bundle/terraform
	url = https://github.com/hashivim/vim-terraform.git
