style "theme-panel" = "murrine-dark"
{
	xthickness	= 0
	ythickness	= 0

	bg_pixmap[NORMAL] = "../img/panel.png"
	bg_pixmap[ACTIVE] = "../img/focus.png"

	bg[NORMAL]	= "#2E3338"
	bg[ACTIVE]	= "#2E3338"
	bg[PRELIGHT]	= "#22262A"
#bg[ACTIVE]	= "#22262A"
#bg[PRELIGHT]	= "#22262A"

	fg[NORMAL]	= "#C7CCD1"
#fg[ACTIVE]	= "#737F8C"
#fg[PRELIGHT]	= "#737F8C"
	fg[ACTIVE]	= "#4DFFA6"
	fg[PRELIGHT]	= "#4DFFA6"

	text[NORMAL]	= "#C7CCD1"
#text[ACTIVE]	= "#737F8C"
#text[PRELIGHT]	= "#737F8C"
	text[ACTIVE]	= "#4DFFA6"
	text[PRELIGHT]	= "#4DFFA6"

	engine "murrine" {
		border_shades	= { 1.0, 1.0 }
		contrast	= 0.0
		roundness	= 0
		glowstyle	= 0
		glow_shade	= 1.0
		glazestyle	= 0
		trough_border_shades = { 1.0, 2.0 } # improve visibility in panel-plugins using the progressbar (xfce4-timer-plugin)
	}
}

style "xfce-tasklist-style"
{
	XfceTasklist::minimized-icon-lucency = 0
	XfceTasklist::max-button-length=800
}

style "theme-panel-text"
{
	fg[NORMAL]	= "#C7CCD1"
#fg[ACTIVE]	= "#737F8C"
#fg[PRELIGHT]	= "#737F8C"
	fg[ACTIVE]	= "#4DFFA6"
	fg[PRELIGHT]	= "#4DFFA6"

	text[NORMAL]	= "#C7CCD1"
#text[ACTIVE]	= "#737F8C"
#text[PRELIGHT]	= "#737F8C"
	text[ACTIVE]	= "#4DFFA6"
	text[PRELIGHT]	= "#4DFFA6"
}

style "theme-main-menu-text" = "theme-panel-text"
{
	fg[PRELIGHT]   = "#C7CCD1"
	text[PRELIGHT] = "#C7CCD1"
}

widget "*PanelWidget*"              style "theme-panel"
widget "*PanelApplet*"              style "theme-panel"
widget "*fast-user-switch*"         style "theme-panel"
widget "*CPUFreq*Applet*"           style "theme-panel"
widget "*indicator-applet*"         style "theme-panel"
class "PanelApp*"                   style "theme-panel"
class "PanelToplevel*"              style "theme-panel"
widget_class "*PanelToplevel*"      style "theme-panel"
widget_class "*notif*"              style "theme-panel"
widget_class "*Notif*"              style "theme-panel"
widget_class "*Tray*"               style "theme-panel" 
widget_class "*tray*"               style "theme-panel"
widget_class "*computertemp*"       style "theme-panel"
widget_class "*Applet*Tomboy*"      style "theme-panel"
widget_class "*Applet*Netstatus*"   style "theme-panel"

# Fixes for tooltip text in some apps.
widget_class "*Notif*Beagle*"       style "theme-panel"
widget_class "*Notif*Brasero*"      style "theme-panel"

# XFCE panel theming.
widget "*Xfce*Panel*"               style "theme-panel"
class "*Xfce*Panel*"                style "theme-panel"

# Make sure panel text color doesn't change
widget_class "*Panel*MenuBar*"      style "theme-main-menu-text"
widget_class "*Panel*<GtkMenuBar>*" style "theme-main-menu-text"
widget "*.clock-applet-button.*"    style "theme-panel-text"
widget "*PanelApplet*"              style "theme-panel-text"

class "XfceTasklist" style "xfce-tasklist-style"
